# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## User settings
xcuserdata/

## Scripts
scripts/build/
scripts/*.log

## Build results
DerivedData/
build/
*.dmg
*.xcarchive
*.xccheckout
*.xcscmblueprint

## Dependency Manager
.build/
Packages/
Package.resolved
Package.pins

## XcodeGen
Gaze.xcodeproj/
xcodegen/
!xcodegen.zip

## Others
*.swp
*.lock
*.DS_Store
.claude/
*.mode1v3
*.mode2v3
*.perspectivev3

## macOS
.LSOverride
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
